* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    padding: 8px 10px;
}
input, button, select, textarea {
    padding: 8px 8px;
}

textarea {
    font-family: 'Courier New', monospace;
    resize: vertical;
    width: 100%;
    padding: 12px;
}

.flex { display: flex; }
.block { display: block; }
.inline-block { display: inline-block; }
.flex-wrap { flex-wrap: wrap; }
.flex-1 { flex: 1; }

.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; }

.space-between { justify-content: space-between; }
.space-evenly { justify-content: space-evenly; }
.space-around { justify-content: space-around; }

.items-left { align-items: left; }
.items-center { align-items: center; }
.items-right { align-items: right; }
.items-start { align-items: start; }
.items-end { align-items: end; }
.items-stretch { align-items: stretch; }

.gap-0 { gap: 0px; }
.gap-2 { gap: 2px; }
.gap-4 { gap: 4px; }
.gap-6 { gap: 6px; }
.gap-8 { gap: 8px; }
.gap-10 { gap: 10px; }
.gap-12 { gap: 12px; }
.gap-14 { gap: 14px; }
.gap-16 { gap: 16px; }
.gap-18 { gap: 18px; }
.gap-20 { gap: 20px; }

.p-0 { padding: 0px; }
.p-2 { padding: 2px; }
.p-4 { padding: 4px; }
.p-6 { padding: 6px; }
.p-8 { padding: 8px; }
.p-10 { padding: 10px; }

.m-0 { margin: 0px; }
.m-2 { margin: 2px; }
.m-4 { margin: 4px; }
.m-6 { margin: 6px; }
.m-8 { margin: 8px; }
.m-10 { margin: 10px; }
